@import url("https://fonts.googleapis.com/css?family=Titillium+Web:600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation {
  width: 100%;
  background-color: #243238;
  height: 50px;
  -webkit-box-shadow: 0px 0px 15px 0px black;
          box-shadow: 0px 0px 15px 0px black;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.navigation .cart-container {
  text-align: center;
  height: 50px;
  background-color: #080ab4;
  -webkit-transition: color, background-color ease 0.5s;
  transition: color, background-color ease 0.5s;
}

.navigation .cart-container .cart-btn {
  margin: auto;
  color: #fff;
  height: 100%;
}

.navigation .cart-container:hover {
  color: white;
  background-color: #6D0EB1;
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, #cart {
  font-family: 'Titillium Web', sans-serif;
}

.brand {
  color: white;
  text-decoration: none;
  -webkit-transition: color ease-out 0.5s;
  transition: color ease-out 0.5s;
}

.brand:hover {
  color: #adadad;
  text-decoration: none;
}

.hero {
  height: 600px;
  width: 100%;
  background-image: linear-gradient(135deg, #6D0EB1 45%, #080ab4 100%);
}

.hero .herotext {
  color: #fff;
  padding-top: 80px;
  margin: 0 auto;
}

.hero .herotext .center {
  text-align: center;
}

.bg-default {
  background-color: #fff;
  fill: #fff;
}

.bg-default .section-wave {
  position: absolute;
  -webkit-transform: translateY(-97%);
          transform: translateY(-97%);
  width: 100vw;
  line-height: 0;
}

.bg-default .section-wave > svg {
  width: 100vw;
  height: auto;
}

.bg-default svg {
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.sock-deals {
  padding: 15px;
  height: 600px;
  max-width: 100%;
  text-align: center;
}

.sock-list {
  padding: 15px;
  height: auto;
  max-width: 100%;
  color: white;
  text-align: center;
  background-color: #243238;
}

.info {
  padding: 15px;
  height: 600px;
  max-width: 100%;
  text-align: center;
}

.sock-banner {
  padding: 15px;
  height: 150px;
  color: white;
  text-align: center;
  background-image: linear-gradient(135deg, #6D0EB1 59%, #080ab4 100%);
}

.s-border {
  width: 100px;
  height: 5px;
  border-radius: 25px;
  margin: auto;
  background-image: linear-gradient(135deg, #6D0EB1 59%, #080ab4 100%);
}

.sock-item {
  display: inline-block;
  margin: 25px;
  height: 300px;
  width: 20%;
  -webkit-box-shadow: 0px 0px 10px 0px black;
          box-shadow: 0px 0px 10px 0px black;
  border-radius: 10px;
  -webkit-transition: background-color ease-in-out 0.5s;
  transition: background-color ease-in-out 0.5s;
}

.sock-item .sock-item-img {
  border-bottom: 1px solid black;
  width: 100%;
  height: 80%;
}

@media screen and (max-width: 320px) {
  .sock-item {
    display: block;
    width: auto;
  }
}

.sock-item:hover {
  background-color: rgba(75, 0, 119, 0.308);
  cursor: pointer;
}

footer {
  height: auto;
  text-align: center;
  max-width: 100%;
  color: white;
  background-color: #243238;
}
/*# sourceMappingURL=styles.css.map */